* {
  background-color: #CBB77E;
}
.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #CBB77E;
  width: 100%;
}

.navbar-item {
  display: block;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
}

.navbar-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 1em;
  background-color: #CBB77E;
  color: black;
  font-size: large;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  color: red;
  text-decoration: none;
}

footer {
  padding: 5em;
  text-align: center;
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px rgb(175, 172, 172);
  }

  .jumbotron {
    max-width: 100%;
  }

  main {
    max-width: 100%;
  }

  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
  }

  p {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
  }